$primary-color: #121212;
$alt-color: #1f1f1f;

$card-color: #171717;

$secondary-color: #000;

$accent-color: #1ed760;
$alt-accent-color: #ff4800;

$text-color: #d4d4d4;

$edit-btn-color: green;
$delete-btn-color: brown;
$buy-btn-color: $text-color;

$modal-color: hsl(0 0% 12% / 0.5);

