$header-height: 15vh;

$desktop-nav-top-position: 10%;

$desktop-icon-nav-width: 4rem;

$mobile-nav-width: 200px;
$desktop-nav-width: 10rem;

$list-gap: 1rem;

$list-margin-top: 1rem;

$footer-height: 25vh;