@import 'color_variables';
@import 'navbar_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $alt-color;
}

header {
  height: 15vh;

  background-color: $secondary-color;
  color: $text-color;
}

nav {
  height: 100vh;
  width: 50vw;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;

  background-color: $secondary-color;

  transition: 0.25s ease-in-out;
}

nav>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;

  margin-top: 5rem;
}

nav>ul>li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 2rem;

  list-style-type: none;
}

nav>ul>li>a {
  width: 100%;

  text-decoration: none;
  text-align: center;
  color: $text-color;
}

nav>ul>li:last-child {
  margin-top: 4rem;
  padding: 0.5rem 1rem;
}

.current-page::after {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  content: '';
  width: calc(50vw - 3rem);
  height: 2px;

  background-color: $accent-color;
}

.hidden {
  transform: translateX(100%);
}

.burger-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 10;

  width: fit-content;
  height: fit-content;

  cursor: pointer;
}

.burger-top {
  width: 25px;
  height: 3px;

  background-color: white;
}

.burger-mid {
  width: 25px;
  height: 3px;

  background-color: white;
}

.burger-bot {
  width: 25px;
  height: 3px;

  background-color: white;
}


main {
  margin-top: 1rem;
}


// Image:
.image-section {
  width: 100vw;
}

.image-section>img {
  width: 100%;
}

// Map:
.map-form-container>form {
  margin: 0.5rem 0;
}

.leaflet-container {
  width: 100vw;
  height: 50vh;

  margin-top: 1rem;
}

.scaled {
  transform: scale(0);
}

.create-aside {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 11;

  width: 100vw;
  height: 100vh;

  background-color: $modal-color;

  transition: transform 0.25s ease-in-out;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: white;
}

.create-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-form > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50vw;
  max-width: 150px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 90vw;
  margin: 1rem auto;
}

.landing-card>form>input {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.landing-card>form>button {
  margin: 0.25rem 0 0 0.25rem;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  width: 90vw;
  margin: 1rem auto;

  list-style-type: none;
}


.pagination-list>li>a {
  text-decoration: none;
}

.card {
  position: relative;

  width: 250px;
  height: 250px;
  padding: 1rem;

  background-color: $card-color;
  background-size: cover;
  border-radius: 5px;

  overflow: hidden;

  cursor: pointer;
}

.card:hover .card-title {
  transform: translateY(-6rem);
}
.card:hover .card-title > h4 {
  font-size: 1.5rem;
}
.card:hover .card-title > h4::after {
  transform: scale(1);
}
.card:hover .card-content {
  transform: translateY(20%);
}
.card:hover .card-content > * {
  opacity: 1
}

.card-title {
  position: absolute;

  width: 100%;
  left: 0;
  bottom: 35%;

  padding: 0.5rem;
  margin-bottom: 1rem;
  
  transition: transform 0.5s ease-in-out;
}

.card-title > h4 {
  position: relative;

  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.25rem;

  color: $text-color;
  text-align: center;
  font-size: 2rem;

  transition-property: font-size, width;
  transition: 0.5s ease-in-out;
}

.card-title > h4::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  content: '';
  background-color: $accent-color;

  transform: scale(0);
  transition: transform 0.25s ease-in-out;
}

.card-content {
  display: flex;
  flex-direction: column;

  height: 100%;

  transform: translateY(110%);
  transition: transform 0.5s ease-in-out;
}

.card-content > * {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.nea-card > .card-content > .card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

.card-info > p {
  color: $text-color;
  font-size: 1rem;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.card-buttons > button {
  background-color: $card-color;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.fa-pen-to-square {
  color: $edit-btn-color;
}
.fa-trash-can {
  color: $delete-btn-color;
}
.fa-cart-shopping {
  color: $buy-btn-color;
}

.edit-form {
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
  width: 250px;
  height: 250px;
  padding: 1rem;
  background-color: $card-color;
  background-size: cover;
  border-radius: 5px;
}

.edit-nea-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.25rem;
  
  width: 250px;
  height: 250px;
  padding: 1rem;
  
  background-color: $card-color;
  background-size: cover;
  border-radius: 5px;
}

.edit-nea-form > input {
  width: 100%;
}

@media (min-width: 750px) {

  main {
    margin-left: $desktop-icon-nav-width;
  }

  // *** NAV *** //

  .hidden {
    transform: none;
  }

  .icons-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: $desktop-icon-nav-width;
    height: 100vh;
    padding-top: $header-height;

    background-color: $secondary-color;
  }

  .icons-navbar:hover+nav {
    left: $desktop-icon-nav-width;
  }

  .icons-navbar>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $list-gap;

    width: 100%;

    margin-top: $list-margin-top;
  }

  .icons-navbar>ul>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 4rem;

    list-style-type: none;
  }

  .icons-navbar>ul>li>i {
    font-size: 1.5rem;
  }

  nav {
    position: fixed;
    top: 0;
    left: calc($desktop-icon-nav-width - 8rem);
    left: calc($desktop-icon-nav-width);
    z-index: 9;

    width: $desktop-nav-width;
    height: 100vh;;
    padding-top: $header-height;
  }

  nav:hover {
    position: fixed;
    top: $desktop-nav-top-position;
    left: $desktop-icon-nav-width;
  }

  nav>ul {
    flex-direction: column;
    gap: $list-gap;

    width: 100%;
    height: 100%;
    margin-top: $list-margin-top;
  }

  nav>ul>li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 4rem;
  }

  nav>ul>li:last-child {
    padding: 0;
    margin: 0;
  }

  nav>ul>li>a {
    width: 100%;
    height: 100%;

    line-height: 4rem;
  }

  .current-page::after {
    position: absolute;
    top: 3rem;
    left: 1rem;
    content: '';
    width: 6rem;
    height: 2px;

    background-color: $accent-color;
  }


  .image-section {
    width: 95vw;
    margin: 1rem auto;
  }

  .map-form-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .leaflet-container {
    width: 95vw;
    height: 75vh;

    margin: 1rem auto;
  }
}